
        
h1 {
    color: rgb(26, 26, 187);
}  

body {
    background-color: rgb(91, 112, 160);
}

 
#andresito-pic {
    width: 150px;
    float: left;
    margin-left: 15px;
}
 
#andres2-pic {
    width: 150px;
    float: right;
    margin-left: 15px;
}
 
    